<div class="container">

    <div class="container-left">
        <div class="container-left-icon">
            <i class="fas fa-city"></i>
        </div>
        <div class="container-left-avatar">
            <div class="container-left-avatar-image">
                <img [src]="'assets/images/user.jpg'" alt="">
            </div>
        </div>
        <div class="container-left-menu" id="container-left-menu">

            <div *ngIf="!mainPageService.isShowSelectDepartmentPage()" class="container-left-menu-icon" matTooltip="Department"
                matTooltipClass="tooltip" (click)="moveToDepartmentPage()">
                <i class="far fa-building"></i>
            </div>
            <div *ngIf="mainPageService.isShowSelectDepartmentPage()"
                class="container-left-menu-icon container-left-menu-icon-selected">
                <i class="far fa-building"></i>
            </div>

            <div *ngIf="!mainPageService.isShowSelectEmployeePage()" class="container-left-menu-icon" matTooltip="Employee"
            matTooltipClass="tooltip" (click)="moveToEmployeePage()">
            <i class="fas fa-users-cog"></i>
        </div>
        <div *ngIf="mainPageService.isShowSelectEmployeePage()"
            class="container-left-menu-icon container-left-menu-icon-selected">
            <i class="fas fa-users-cog"></i>
        </div>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>